<a href="https://colab.research.google.com/github/JuanR-V/prueba/blob/main/Postwork_6_Automatizaci%C3%B3n_y_APIs_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Equipo 12** Postwork 6: Automatización y APIs

OBJETIVO
- Practicar el uso de APIs y peticiones HTTP.
- Automatizar procesos de exploración y limpieza usando for loops.
- Proteger nuestro código contra errores usando try except.

REQUISITOS
- Haber realizado previamente la primer fase de limpieza de tu dataset

DESARROLLO

En este Postwork vamos a dejar descansar un poquito nuestro dataset. La única manera de entender a la perfección cómo utilizar APIs es usándolas. Y eso es lo que vamos a hacer. Vamos a elegir un API y construir un nuevo dataset utilizando peticiones HTTP y concatenaciones. Puede que sea un API que complemente tu dataset original (eso sería lo mejor de lo mejor), o puede simplemente que sea un API que ofrezca información que te parezca interesante. Los pasos a seguir son estos:

Encuentra un API que quieras explorar. 

Puedes encontrar una lista enorme de APIs gratuitas [aquí](https://github.com/public-apis/public-apis).
Crea una cuenta si es necesario.
Lee la documentación.
Realiza algunas peticiones de prueba para entender la estructura de los datos (si quieres explorar un poco, puedes intentar haacer peticiones usando [este software](https://www.postman.com/)).

Automatiza el proceso de realizar peticiones para obtener un dataset considerablemente grande.
Explora y limpia tu dataset.
Si has encontrado un dataset que complementa la información de tu dataset original (el que has estado trabajando durante todas las sesiones), ve si puedes unirlos en un solo DataFrame que incluya la información útil de ambos.
Extra: Puedes también explorar la posibilidad de automatizar algunos de los procesos de limpieza que has realizado con tu dataset. Si encuentras dónde podría ser útil y te animas a hacerlo, recuerda proteger tu código con estructuras try except para que la automatización no falle.

(Para tu entrega final)
Esta entrega es opcional. Si quieren unos puntos extras, pueden entregar un Notebook extra donde hagan lo que se pide arriba. No es necesario entregar un documento escrito sobre esta entrega. Simplemente asegúrense que su código esté bien comentado y ordenado.

# [ Covid-19-API](https://github.com/M-Media-Group/Covid-19-API)

**Descripcion:** Covid 19 cases, deaths and recovery per country

**Authorization:** No authorisation is required to fetch data from the API.

Lo que vamos a realizar utilizando esta API es crear un dataset con  informacion sobre:
- Casos confirmados
- Defunciones
- Fecha de actualizacion
- Tasa de letalidad

en cada estado donde vivimos los integrantes del equipo

## Requests a la API

In [2]:
#libreria requests
import requests

In [3]:
#API base
url_2='https://covid-api.mmediagroup.fr/v1/cases'

In [4]:
#parametros, seleccionamos la informacion de México
payload={
    'country':'Mexico'
}

In [5]:
#guardamos el requests
r=requests.get(url_2,params=payload)

In [6]:
#resultado
r.json()

{'Aguascalientes': {'confirmed': 29004,
  'deaths': 2519,
  'lat': '21.8853',
  'long': '-102.2916',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'All': {'abbreviation': 'MX',
  'capital_city': 'Ciudad de M',
  'confirmed': 3045571,
  'continent': 'North America',
  'country': 'Mexico',
  'deaths': 246811,
  'elevation_in_meters': '1,111',
  'iso': 484,
  'lat': '19.4969',
  'life_expectancy': '71.5',
  'location': 'Central America',
  'long': '-99.7233',
  'population': 129163276,
  'recovered': 0,
  'sq_km_area': 1958201},
 'Baja California': {'confirmed': 54037,
  'deaths': 8965,
  'lat': '30.8406',
  'long': '-115.2838',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Baja California Sur': {'confirmed': 51384,
  'deaths': 2091,
  'lat': '26.0444',
  'long': '-111.6661',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Campeche': {'confirmed': 16301,
  'deaths': 1538,
  'lat': '19.8301',
  'long': '-90.5349',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Chiapas': {'confirmed': 17095,
  'deaths': 1850,
  'lat': '16.7569',
  'long': '-93.1292',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Chihuahua': {'confirmed': 61425,
  'deaths': 7698,
  'lat': '28.633',
  'long': '-106.0691',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Ciudad de Mexico': {'confirmed': 833802,
  'deaths': 36412,
  'lat': '19.4326',
  'long': '-99.1332',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Coahuila': {'confirmed': 76170,
  'deaths': 6614,
  'lat': '27.0587',
  'long': '-101.7068',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Colima': {'confirmed': 19902,
  'deaths': 1347,
  'lat': '19.1223',
  'long': '-104.0072',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Durango': {'confirmed': 40272,
  'deaths': 2597,
  'lat': '24.5593',
  'long': '-104.6588',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Guanajuato': {'confirmed': 143637,
  'deaths': 11265,
  'lat': '21.019',
  'long': '-101.2574',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Guerrero': {'confirmed': 58998,
  'deaths': 5099,
  'lat': '17.4392',
  'long': '-99.5451',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Hidalgo': {'confirmed': 48203,
  'deaths': 6585,
  'lat': '20.0911',
  'long': '-98.7624',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Jalisco': {'confirmed': 116718,
  'deaths': 13656,
  'lat': '20.6595',
  'long': '-103.3494',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Mexico': {'confirmed': 311224,
  'deaths': 39157,
  'lat': '19.4969',
  'long': '-99.7233',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Michoacan': {'confirmed': 57994,
  'deaths': 6354,
  'lat': '19.5665',
  'long': '-101.7068',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Morelos': {'confirmed': 38993,
  'deaths': 3704,
  'lat': '18.6813',
  'long': '-99.1013',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Nayarit': {'confirmed': 23836,
  'deaths': 2170,
  'lat': '21.7514',
  'long': '-104.8455',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Nuevo Leon': {'confirmed': 155987,
  'deaths': 10461,
  'lat': '25.5922',
  'long': '-99.9962',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Oaxaca': {'confirmed': 59273,
  'deaths': 4264,
  'lat': '17.0732',
  'long': '-96.7266',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Puebla': {'confirmed': 96205,
  'deaths': 12665,
  'lat': '19.0414',
  'long': '-98.2063',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Queretaro': {'confirmed': 77216,
  'deaths': 4661,
  'lat': '20.5888',
  'long': '-100.3899',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Quintana Roo': {'confirmed': 48314,
  'deaths': 3459,
  'lat': '19.1817',
  'long': '-88.4791',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'San Luis Potosi': {'confirmed': 77536,
  'deaths': 5585,
  'lat': '22.1565',
  'long': '-100.9855',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Sinaloa': {'confirmed': 62540,
  'deaths': 7342,
  'lat': '25.1721',
  'long': '-107.4795',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Sonora': {'confirmed': 93177,
  'deaths': 7212,
  'lat': '29.2972',
  'long': '-110.3309',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Tabasco': {'confirmed': 95050,
  'deaths': 4538,
  'lat': '17.8409',
  'long': '-92.6189',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Tamaulipas': {'confirmed': 77540,
  'deaths': 5607,
  'lat': '24.2669',
  'long': '-98.8363',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Tlaxcala': {'confirmed': 22507,
  'deaths': 2626,
  'lat': '19.3139',
  'long': '-98.2404',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Unknown': {'confirmed': 0,
  'deaths': 0,
  'lat': '',
  'long': '',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Veracruz': {'confirmed': 88954,
  'deaths': 11114,
  'lat': '19.1738',
  'long': '-96.1342',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Yucatan': {'confirmed': 56968,
  'deaths': 4674,
  'lat': '20.7099',
  'long': '-89.0943',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'},
 'Zacatecas': {'confirmed': 35309,
  'deaths': 2982,
  'lat': '22.7709',
  'long': '-102.5832',
  'recovered': 0,
  'updated': '2021/08/13 11:21:31+00'}}

In [7]:
#guardamos  nuestro json
data=r.json()

In [8]:
#las keys son los estados dentro del pais
data.keys()

dict_keys(['All', 'Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Ciudad de Mexico', 'Coahuila', 'Colima', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Mexico', 'Michoacan', 'Morelos', 'Nayarit', 'Nuevo Leon', 'Oaxaca', 'Puebla', 'Queretaro', 'Quintana Roo', 'San Luis Potosi', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Unknown', 'Veracruz', 'Yucatan', 'Zacatecas'])

In [9]:
#filtramos un estado para conocer la informacion que tenemos
data['Guanajuato']

{'confirmed': 143637,
 'deaths': 11265,
 'lat': '21.019',
 'long': '-101.2574',
 'recovered': 0,
 'updated': '2021/08/13 11:21:31+00'}

# Creamos el dataset concatenando la informacion de los siguientes estados:

- Guanajuato, Andrés y Juan
- Nayarit, Arath
- Estado de Mexico, Saul
- Yucatán, Sofía

In [263]:
import pandas as pd

In [264]:
#lista  con los nombres de los estados de los ingrantes del equipo
estados=['Guanajuato','Nayarit','Mexico','Yucatan']

In [265]:
#creamos un dataframe vacio para concatenar los datos de cada estado
df_covid_19=pd.DataFrame()

In [266]:
#normalizamos los diccionarios, los convertimos en df y los concatenamos  

#utilizamos el try, except en caso de que el nombre de un estado se escriba incorrectamente
for estado in estados:
  try:
    normalized_estado=pd.json_normalize(data[estado])
    df_estado=pd.DataFrame.from_dict(normalized_estado)
    df_covid_19=pd.concat([df_covid_19,df_estado],axis=0)

  except:
    print('El nombre del estado es incorrecto')
    estados.pop(estados.index(estado))

df_covid_19

       lat       long  confirmed  recovered  deaths                 updated
0   21.019  -101.2574     143637          0   11265  2021/08/13 11:21:31+00
0  21.7514  -104.8455      23836          0    2170  2021/08/13 11:21:31+00
0  19.4969   -99.7233     311224          0   39157  2021/08/13 11:21:31+00
0  20.7099   -89.0943      56968          0    4674  2021/08/13 11:21:31+00

In [267]:
estados

['Guanajuato', 'Nayarit', 'Mexico', 'Yucatan']

In [268]:
#Agregamos una nueva columna al df con los nombres de los estados
df_covid_19['state']=estados
df_covid_19
#las columnas lat y long no tienen importancia para nosotros
#  la columna recovered si es importante pero la API la desprecia asi que tambien la omitimos

       lat       long  confirmed  ...  deaths                 updated       state
0   21.019  -101.2574     143637  ...   11265  2021/08/13 11:21:31+00  Guanajuato
0  21.7514  -104.8455      23836  ...    2170  2021/08/13 11:21:31+00     Nayarit
0  19.4969   -99.7233     311224  ...   39157  2021/08/13 11:21:31+00      Mexico
0  20.7099   -89.0943      56968  ...    4674  2021/08/13 11:21:31+00     Yucatan

[4 rows x 7 columns]

In [269]:
#Seleccionamos las columnas y el orden que necesitamos
df_covid_19=df_covid_19[['state','updated','confirmed','deaths']]
df_covid_19

        state                 updated  confirmed  deaths
0  Guanajuato  2021/08/13 11:21:31+00     143637   11265
0     Nayarit  2021/08/13 11:21:31+00      23836    2170
0      Mexico  2021/08/13 11:21:31+00     311224   39157
0     Yucatan  2021/08/13 11:21:31+00      56968    4674

In [270]:
# tenemos dos columnas tipo object y dos tipo int
df_covid_19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 0
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      4 non-null      object
 1   updated    4 non-null      object
 2   confirmed  4 non-null      int64
 3   deaths     4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 160.0+ bytes

In [271]:
#cambiamos el indice en nuestro df para que no sean todos 0
#utilizamos esta estructura para no tener que modificar el codigo si es necesario ingresar un nuevo estado
indices=[estado +1 for estado in range(len(estados))]
df_covid_19.index=indices
df_covid_19

        state                 updated  confirmed  deaths
1  Guanajuato  2021/08/13 11:21:31+00     143637   11265
2     Nayarit  2021/08/13 11:21:31+00      23836    2170
3      Mexico  2021/08/13 11:21:31+00     311224   39157
4     Yucatan  2021/08/13 11:21:31+00      56968    4674

**La fecha de actualizacion tambien tiene la hora, pero solo nos interesa la fecha**

In [272]:
#separamos la fecha y la hora de nuestro df en 2 columnas distintas
df_covid_19['updated'].str.split('\s',expand=True)

            0            1
1  2021/08/13  11:21:31+00
2  2021/08/13  11:21:31+00
3  2021/08/13  11:21:31+00
4  2021/08/13  11:21:31+00

In [ ]:
#asignamos solamente la columna fecha a nuestro df
df_covid_19['updated']=df['updated'].str.split('\s',expand=True)[0]

In [274]:
df_covid_19

        state     updated  confirmed  deaths
1  Guanajuato  2021/08/13     143637   11265
2     Nayarit  2021/08/13      23836    2170
3      Mexico  2021/08/13     311224   39157
4     Yucatan  2021/08/13      56968    4674

### **Agregamos la columna extra para conocer la tasa de letalidad del COVID-19 en cada estado**

**La tasa de letalidad**

"Es el cociente entre el número de fallecimientos a causa de una determinada enfermedad en un período de tiempo y el número de afectados por esa misma enfermedad en ese mismo período".

In [275]:
#obtenemos una lista con la tasa de letalidad para cada estado

#lista vacia para guardar los valores
lethal_rate_list=[]
#funcion para calcular la letaldad
def lethal_rate_function():
  for indice in indices: 
    lethal_rate_list.append((df['deaths'][indice]/df['confirmed'][indice])*100)

#llamamos a la funcion
lethal_rate_function()
#lista final
lethal_rate_list

[7.842686772906703, 9.10387648934385, 12.581613243194612, 8.204606094649627]

In [276]:
#tenemos muchos decimales, redondearemos nuestro resultado a los primeros 3
#para ello utilizaremos numpy 
import numpy as np

In [277]:
lethal_rate_list=np.round(lethal_rate_list,3)
lethal_rate_list

array([ 7.843,  9.104, 12.582,  8.205])

In [ ]:
#agregamos la nueva columna a nuestro df
df_covid_19['case_fatality_rate(%)']=lethal_rate_list

In [279]:
#ya tenemos nuestro df limpio y ordenado con la nueva columna que nos indica la tasa de letalidad en cada uno de nuestros estados
df_covid_19

        state     updated  confirmed  deaths  case_fatality_rate(%)
1  Guanajuato  2021/08/13     143637   11265                  7.843
2     Nayarit  2021/08/13      23836    2170                  9.104
3      Mexico  2021/08/13     311224   39157                 12.582
4     Yucatan  2021/08/13      56968    4674                  8.205